@{
    ViewBag.Title = "Index";
}
@model MvcDBShow.Models.HomeModel
<a href="/home/ShowApi">测试接口</a>

<style type="text/css">
    .tableList {
        width: 600px;
        border-left: gray solid 1px;
        border-top: gray solid 1px;
        border-collapse: collapse; /*不用修改CellSapcing了*/
        font-family: "微软雅黑";
        margin: auto;
        margin-top: 20px;
    }

        .tableList td {
            border-right: gray solid 1px;
            border-bottom: gray solid 1px;
            padding-left: 5px;
            line-height: 20px;
        }

        .tableList th {
            border-right: gray solid 1px;
            border-bottom: gray solid 1px;
            font-size: 20px;
        }

    .clear {
        clear: both;
    }

    .goWhere:hover {
        border-bottom: 2px solid #090;
    }
</style>
@foreach (var item in Model.TableList)
{
    <table class="tableList" id="diaryList_@item.TabName">
        <tr>
            <th>
                @item.TabName
            </th>
            <th colspan="2">
                @item.TabRemarks
            </th>
        </tr>
        <tr>
            <td style="width: 200px;">字段名</td>
            <td style="width: 100px;">数据类型</td>
            <td>备注</td>
        </tr>
        @foreach (var son in item.TabCol)
        {
            <tr>
                <td>@son.ColName</td>
                <td>@son.ColType</td>
                <td>@son.ColRemarks</td>
            </tr>
        }
    </table>
}
<div style="position: fixed; color: grey; bottom: 20px; right: 10px; width: 250px; height: 80%; line-height: 20px; overflow: auto;">
    <ol>
        @foreach (var item in Model.TableList)
        {
            <li title="@item.TabRemarks">
                <a class="goWhere" style="text-decoration:none;" href="#diaryList_@item.TabName">@item.TabName</a>
            </li>
        }
    </ol>
</div>

<script src="/Scripts/jquery-2.1.3.js"></script>
<script>
    $(function () {
        $(".goWhere").anchorGoWhere({ target: 1 });
    });

    jQuery.fn.anchorGoWhere = function (options) {
        var obj = jQuery(this);
        var defaults = { target: 0, timer: 250 };
        var o = jQuery.extend(defaults, options);
        obj.each(function (i) {
            jQuery(obj[i]).click(function () {
                var _rel = jQuery(this).attr("href").substr(1);
                switch (o.target) {
                    case 1: //纵向 
                        var _targetTop = jQuery("#" + _rel).offset().top;
                        jQuery("html,body").animate({ scrollTop: _targetTop }, o.timer);
                        break;
                    case 2: //横向
                        var _targetLeft = jQuery("#" + _rel).offset().left;
                        jQuery("html,body").animate({ scrollLeft: _targetLeft }, o.timer);
                        break;
                }
                return false;
            });
        });

    };
</script>
